Flask==0.10.1
Flask-AutoIndex==0.6
Flask-Bootstrap==3.3.5.7
Flask-Login==0.3.2
Flask-OpenID==1.2.5
Flask-Silk==0.2
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.4
argparse==1.2.1
beautifulsoup4==4.4.1
cffi==1.5.2
cryptography==1.2.2
cssselect==0.9.1
decorator==4.0.9
dominate==2.1.17
enum34==1.1.2
future==0.15.2
idna==2.0
ipaddress==1.0.16
ipdb==0.8.3
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24 
path.py==8.1.2 
pexpect==4.0.1 
pickleshare==0.6 
ptyprocess==0.5.1 
pyOpenSSL==0.15.1 
pyasn1==0.1.9 
pycparser==2.14 
python-openid==2.2.5 
requests==2.9.1 
selenium==2.52.0 
selenium-requests==1.2.7 
simplegeneric==0.8.1 
six==1.10.0 
tld==0.7.6 
traitlets==4.1.0 
twill==1.8.0 
visitor==0.1.2 
wsgiref==0.1.2
