.classes-accordion-container{
  height: 55vmin;
  overflow-y: auto;
}
.page-accordion {
  padding-left: 20px;
}
.page-accordion-list {
  padding-left: 20px;
}
.parser-control-container{
  position: fixed;
  bottom: 0;
  width: 100%
}
div.downloaded > i.icon, div.downloaded > div.content > .header > *{
  color: green;
}

HTML {
  height: 140vmin;
  overflow-y: scroll;
}
