.classes-accordion-container{
  overflow-y: scroll;
  height: 40vh;
}
.page-accordion {
  padding-left: 1.25em;
}
.page-accordion-list {
  padding-left: 1.25em;
}

div.downloaded > i.icon, div.downloaded > div.content > .header > *{
  color: green;
}

HTML {
  height: 100%;
  min-width: 40vh;
}

body {
	min-width: 400px;
	width: 100%;
}
