<!-- extend from base layout -->
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<head>
	<title>Login Screen for Blackboard Binder</title>

</head>
<body>
<div class="container panel col-md-4 col-md-offset-4">
	<div class="">
	<h1 class="form-signin-heading panel-heading"> Login to Download your Blackboard Files</h1>
	{{ wtf.quick_form(form, extra_classes="container panel-body", form_type="horizontal", horizontal_columns=("lg",1,2))}}
</div>
</div>
</body>
{% endblock %}
