<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<head>
	<title>Login Screen for Blackboard Binder</title>
	 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/login.css')}}"/>

</head>
<body>
		<div class="container">
		<form class="panel panel-body form-signin" action="" method="post" name="login">
			  <h1 class="form-signin-heading"> Login Page </h1>
      	{{ form.hidden_tag() }}
      	<p class="checkbox">
          	Please enter your username:
          	<div>{{ form.username(size=30) }}</div> <br>
      	</p>
				<p class="checkbox">
          	Please enter your password:<br>
          	<div>{{ form.password(size=30) }}</div><br>
      	</p>
      	<p><input type="submit" value="Log In"></p>
  	</form>
		</div>
</body>
{% endblock %}
