<!doctype html>
{% extends "base.html" %}

{% block content %}
<head>
	<title>Blackboard Binder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/success.css')}}"/>
</head>
<body>
 <div class="jumbotron">
		<h1> Welcome to Blackboard Binder</h1>
		<p>Tired of downloading lecture notes? Sick of missing assignments? Use Blackboard Binder! An app that logs into that terrible app known as Blackboard for you so you dont have to.</p>
</div>
<h3 class="text">Display file names...</h1>

<button type="button" onclick="listIt()">List Files</button>
<p id="listit"></p>



<script>
function listIt() {
var text = "Received:<br><br> {{ list }}"

document.getElementById("listit").innerHTML = text;

}</script>
{% endblock %}
